// --------------------
// LISTAS DE COMIDAS
// --------------------
.listas-comidas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ccc;

  article {
    font-weight: bolder;
    color: #000;
    border: 2px solid $primary-color;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgba(255,255,255,0.7);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

    &:hover {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }

    h3 {
      text-align: center;
      color: #000;
      background-color: rgba(255,255,255,0.8);
      padding: 0.5rem;
      border-radius: 5px;
    }

    ul {
      list-style: none;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: rgba(255,255,255,0.7);

      li {
        padding: 0.5rem 0;
        border-bottom: 1px dashed #000;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}